*{
    margin:0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3faf82;
}

.menu{
    aspect-ratio: 1/1;
    width: 12vw;
    display: flex;
    flex-direction: column;
    gap:12%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

span{
    height: 10%;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    filter: drop-shadow(1px 1px 10px #0000004f);
}

.line3{
    animation: buttonRev 700ms ease-in-out forwards;
}

@keyframes buttonRev{
    0%{
        transform: translateY(-225%) rotate(135deg);
    }

    50%{
        transform:  translateY(-225%);
    }

    100%{
        transform: translateY(0%);
    }
}

.line2{
    animation: centerRev 700ms ease-in-out forwards;
}

@keyframes centerRev{
    0%,50%{
        scale:0
    }
    100%{
        scale: 1;
    }
}

.line1{
    animation: topRev 700ms ease-in-out forwards;
}

@keyframes topRev{
    0%{
        transform: translateY(225%) rotate(45deg);
    }
    50%{
        transform: translateY(225%);
    }
    100%{
        transform: translateY(0%);
    }
}

.top{
    animation: top 700ms ease-in-out forwards;
}

@keyframes top{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(225%);
    }
    100%{
        transform: translateY(225%) rotate(45deg);
    }
}

.center{
    animation: center 700ms ease-in-out forwards;
}

@keyframes center{
    0%{
        scale: 1;
    }
    50%,100%{
        scale: 0;
    }
}

.bottom{
    animation: bottom 700ms ease-in-out forwards;
}

@keyframes bottom{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform:translateY(-225%)
    }
    100%{
        transform: translateY(-225%) rotate(135deg);
    }
}